@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

body {
  font-family: 'Titillium Web', sans-serif;
  border: 1rem solid #ff4b00;
}

#root,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  color: #93005a;
}

#root {
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

footer>a {
  font-size: 0.85em;
  color: #ff4b00;
}
